*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul li {
    list-style: none;
}




footer{
    background-color: #1D4D8B;
}

.footer-div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer-h2{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
}

.footer-ul{
    padding-right: 80px;
    border-right: 2px solid white;
}

.footer-h2 li{
    font-family: 'Inter', sans-serif;
}

.footer-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

li{
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer-svg{
    width: 35px;
    border-bottom: solid 1px #002C65;
    cursor: pointer;
}