*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul li {
    list-style: none;
}

header{
    background-color: #1D4D8B;
}

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 300;
}

form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 30px;
}

input{
    width: 250px;
    height: 30px;
    background-color: #1D4D8B;
    border-radius: 6px;
    border: none;
}

label{
    font-family: 'Inter', sans-serif;
}

.submit{
    width: 120px;
    border-radius: 25px;
    height: 35px;
    border: none;
    background-color: #1D4D8B;
    color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
}


.submit-center{
    display: flex;
    justify-content: center;
}


footer{
    background-color: #1D4D8B;
    margin-top: 40px;
}

.footer-div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer-h2{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
}

.footer-ul{
    padding-right: 80px;
    border-right: 2px solid white;
}

.footer-h2 li{
    font-family: 'Inter', sans-serif;
}

.footer-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

li{
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer-svg{
    width: 35px;
    border-bottom: solid 1px #002C65;
    cursor: pointer;
}

.img-cataratas{
    width: 1263px;
    height: 500px;
    display: block;
    margin: auto;
}


.vuelo{
    position: absolute;
    bottom: 0;
    background-color: white;
    border: 1px solid black;
}

.vuelo-input{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.vuelo-button{
    width: 100px;
    height: 30px;
}

.border{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    place-items: center;
    right: 0;
    left: 0;
    transform: translateY(-90px);
    border: 1px solid black;
}

.cards{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}

.card{
    border: 1px solid none;
    border-radius: 15px;
    height: 315px;
    display: flex;
    flex-direction: column;
    background-color: #1D4D8B;
}

.card-img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-tit{
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 10px;
    color: white;
}

.card-price{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    color: white;
}

.oferta{
    display: flex;
    justify-content: space-around;
}

.img-des{
    width: 225px;
    height: 200px;
    border-radius:25px ;
}

.destino{
    display: flex;
    justify-content: space-around;
}

.tit-des{
    color: #1D4D8B;
    font-family: 'Inter', sans-serif;
}

.des-inf{
    position: relative;
    bottom: 60px;
    left: 10px;
}

.des-tit{
    font-size: 10px;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif;
}

.des-price{
    color: #05E744;
    font-size: 20px;
}

.p-pre{
    color: black;
}

.dudas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayuda{
    padding-bottom: 10px;
}

.cont{
    padding-bottom: 15px;
}

.preguntas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px;
}

.p-pre{
    background-color: #B0D1FD;
    padding-top: 10px;
    display: flex;
    place-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
